form fieldset { margin-bottom: 100px; }
.textarea-small  { height: 75px; }
.textarea-medium { height: 200px; }
.textarea-large  { height: 450px; }

.navbar .nav > li > a { padding: 14px 10px 11px; }

.hero-unit h1 { margin-bottom: 12px; }

/* Pages */
#accordion.pages .accordion-group { margin-bottom: 24px; }
#accordion.pages .accordion-inner { padding: 0; }
#accordion.pages table { margin: 0; border: none; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }
#accordion.pages table th  { border-left: none; }
#accordion.pages table td  { border-left: none; }
#accordion.pages .accordion-inner table thead { text-decoration: underline; }

/* sortable */
.sortable tr { height: ; }
.ui-state-default { cursor: move; }
.ui-state-highlight { height: 76px; }

.flot_chart { height: 300px; margin-bottom: 25px; }
#flot_chart_tooltip { .alert; .alert-info; position: absolute; }


a[data-toggle="modal"]:focus,
.dropdown-toggle:focus { outline: none; }


/* Bootstrap Override */
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #ffffff;
}