/*====================================================================================================

    THE GRID

    Mobile Layout: 320px.
    Gutters: 24px.
    Outer margins: 34px.
    Inherits styles from: Default Layout.
    ---------------------------------------------
    cols    1     2      3
    px      68    160    252

----------------------------------------------------------------------------------------------------*/


@outer_margins: 34px;
@gutters: 24px;
@cols: 68px;

@span1: 68px;
@span2: 160px;
@span3: 252px;

/*--------------------------------------------------------------------------------------------------*/


/*====================================================================================================

    Base Styles and structure

----------------------------------------------------------------------------------------------------*/
html             { width: 100%; min-width: @span3; }
div[role="main"] { .clearfix; width: @span3; padding: 0 @outer_margins; margin: 0 auto; }
.content         { .clearfix; width: @span3; float: left; margin: 0 auto;  }
.chromeframe     { padding: 12px; }

.error,
.success         { padding: @gutters; margin-bottom: @gutters*2; }
/*--------------------------------------------------------------------------------------------------*/





/*====================================================================================================

    Header items

----------------------------------------------------------------------------------------------------*/
header[role="banner"]                  { .clearfix; position: relative; width: @span3; padding: 0 @outer_margins; margin: 0 auto; margin-bottom: @gutters; }
header[role="banner"] .logo            { float: left; position: relative; width: @span3; }
header[role="banner"] .logo img        { width: @span3; margin-bottom: @gutters; }
header[role="banner"] #login a         { .button; float: left; }
header[role="banner"] #login a:nth-child(2) { .button; float: right; }

header[role="banner"] .logo span       { position: absolute; top: 60px; left: 75px; display: none; }
header[role="banner"] .logo:hover span { display: block; }





.navigation {
    .clearfix;
    margin-bottom: @gutters;
    border-bottom: 1px solid darken(@light_orange, 3%);
    min-width: @span3;
    position: relative;
    min-height: 30px;
}
#responsive_nav_toggle {
    float: right;
    margin-top: 5px;
    display: block;
    color: #666;
    font-weight: bold;
    .light_textshadow;
}
nav[role="navigation"]      { width: @span3; padding: 0 @outer_margins; margin: 0 auto; }
nav[role="navigation"] ul   { display: none; }
nav[role="navigation"] li a {
    padding: 12px 6px 12px 12px;
    display: inline-block;

    &:hover {
        .transition;
        .dark_textshadow;
        color: #fff;
        text-decoration: none;
    }
}



#membership .navigation                 { min-width: @span3; }
#membership nav[role="navigation"] li a {
    padding: 12px 6px 12px 12px;
    display: inline-block;

}
#membership header[role="banner"]       { position: relative; }
#membership header[role="banner"] h2    { margin: 12px; margin-left: @gutters*2; display: inline; float: left; }
#membership #login                      {  }
/*--------------------------------------------------------------------------------------------------*/




/*====================================================================================================

    Footer items

----------------------------------------------------------------------------------------------------*/
footer   { .clearfix; min-width: @span3; }
footer p { width: @span3; padding: 12px @outer_margins; margin: 0 auto; }
/*--------------------------------------------------------------------------------------------------*/




/*====================================================================================================

    Homepage

----------------------------------------------------------------------------------------------------*/
figure { .clearfix; margin-bottom: @gutters*2; }
figure img { width: @span3; }
figure figcaption { @span3; }
figure h1 { margin: 0; padding: @gutters/2; }
figure p { padding: @gutters/2; margin-bottom: 0; }
figure a { .button_large; }


.features             { .clearfix; margin-bottom: @gutters*2; }
.features section     {
    position: relative;
    .box(3, 10px, 1px, solid, @light_grey);
    text-align: justify;
    margin-bottom: @gutters;

    &:nth-child(2n+2) {
        margin-right: 0;
    }
}
.features section img { float: left; margin-right: 12px; }
.features section p   { display: inline-block; margin-top: @gutters; }
.features section h4  { margin-bottom: 0; }
.features section a   { .button_large; float: right; }


article    { .clearfix; .box(3, 0, 0px, dashed, #777); margin-bottom: @gutters*2 }
article h2 { margin-top: 0; }
/*--------------------------------------------------------------------------------------------------*/




/*====================================================================================================

    Content Pages

----------------------------------------------------------------------------------------------------*/
.outside_wrapper               { padding-top: @gutters*2; padding-bottom: @gutters*2 }
.content_holder h1:first-child { margin-top: 0; margin-bottom: @gutters*2; }


aside[role="complementary"]    {
    .clearfix;
    width: @span3;
    float: right;
    -webkit-box-shadow: none!important;
            box-shadow: none!important;
       border: 2px solid lighten(@light_grey, 6%);
    border-bottom: none;
}

aside[role="complementary"] h2 { margin: 12px; margin-bottom: 0; }
aside[role="complementary"] ul { margin: 0; padding: @gutters 0; }
aside[role="complementary"] li {
    &:last-child {
        border-bottom: none;
    }
}
aside[role="complementary"] li.current a { margin-left: @gutters; }
aside[role="complementary"] li a {
    margin-left: @gutters;
    display: block;
    padding: 4px 0;

    &:hover {
        margin-left: 36px;
    }
}

.content_holder .documents { padding: @gutters; }
.content_holder .documents h3 { margin-top: 0; }
.content_holder .documents ul { margin: 0; padding: 0; padding-left: @gutters; }
.content_holder .documents li { margin-bottom: @gutters/2; }
.content_holder .documents a img { margin-right: @gutters/2; margin-top: -6px; }
/*--------------------------------------------------------------------------------------------------*/



/*====================================================================================================

    Forms

----------------------------------------------------------------------------------------------------*/
form div   { display: block; margin-bottom: @gutters }
form label { width: @span3; display: block; text-align: left!important; }

form textarea.textarea-small  { height: 50px; }
form textarea,
form textarea.textarea-medium { height: 150px; }
form textarea.textarea-large  { height: 250px; }

form textarea,
form select,
form input {
    width: @span3;
    padding: 6px;
}
form select option            { padding: 12px; }
form input[type="submit"]     { .button_large; border: none; width: auto; }
form .actions                 { display: block }
form .radios label            { display: inline-block; }
form .radios span             { display: block; }
form .checkbox label          { display: inline-block; }
form .checkbox span           { display: block; }
/*--------------------------------------------------------------------------------------------------*/