/*====================================================================================================

    THE GRID

    Default Layout: 992px.
    Gutters: 24px.
    Outer margins: 48px.
    Leftover space for scrollbars @1024px: 32px.
    -------------------------------------------------------------------------------
    cols    1     2      3      4      5      6      7      8      9      10
    px      68    160    252    344    436    528    620    712    804    896

----------------------------------------------------------------------------------------------------*/
@outer_margins: 48px;
@gutters: 24px;
@cols: 68px;

@span1: 68px;
@span2: 160px;
@span3: 252px;
@span4: 344px;
@span5: 436px;
@span6: 528px;
@span7: 620px;
@span8: 712px;
@span9: 804px;
@span10: 896px;

/*--------------------------------------------------------------------------------------------------*/

/*====================================================================================================

    Base Styles and structure

----------------------------------------------------------------------------------------------------*/
html             { width: 100%; min-width: 1024px; }
div[role="main"] { .clearfix; width: @span10; padding: 0 @outer_margins; margin: 0 auto; }
.content         { .clearfix; width: @span7; float: left; margin: 0 auto;  }
.chromeframe     { padding: 12px; }

.error,
.success         { padding: @gutters; margin-bottom: @gutters*2; }
/*--------------------------------------------------------------------------------------------------*/





/*====================================================================================================

    Header items

----------------------------------------------------------------------------------------------------*/
header[role="banner"]                  { .clearfix; position: relative; width: @span10; padding: 0 @outer_margins; margin: 0 auto; margin-bottom: @gutters*2; }
header[role="banner"] .logo            { float: left; position: relative; }
header[role="banner"] #login           { float: right; top: 20px; position: relative; }
header[role="banner"] #login a         { .button_large; }
header[role="banner"] .logo span       { position: absolute; top: 60px; left: 75px; display: none; }
header[role="banner"] .logo:hover span { display: block; }
#responsive_nav_toggle { display:none; }



.navigation {
    .clearfix;
    margin-bottom: @gutters*2;
    border-bottom: 1px solid darken(@light_orange, 3%);
    min-width: 1024px;
}
nav[role="navigation"]      { width: @span10; padding: 0 @outer_margins; margin: 0 auto; }
nav[role="navigation"] ul   { display: table; margin: 0 auto; }
nav[role="navigation"] li   { float: left; text-align: center; }
nav[role="navigation"] li a {
    padding: 12px 6px 12px 12px;
    display: inline-block;
    font-size: 14px;

    &:hover {
        .transition;
        .dark_textshadow;
        color: #fff;
        text-decoration: none;
    }
}



#membership .navigation                 { min-width: 1024px; }
#membership nav[role="navigation"] li a {
    padding: 12px 6px 12px 12px;
    display: inline-block;
}
#membership header[role="banner"]       { position: relative; }
#membership header[role="banner"] h2    { margin: 12px; margin-left: @gutters*2; display: inline; float: left; }
/*--------------------------------------------------------------------------------------------------*/




/*====================================================================================================

    Footer items

----------------------------------------------------------------------------------------------------*/
footer   { .clearfix; min-width: 1024px }
footer p { width: @span10; padding: 12px @outer_margins; margin: 0 auto; }
/*--------------------------------------------------------------------------------------------------*/




/*====================================================================================================

    Homepage

----------------------------------------------------------------------------------------------------*/
figure { .clearfix; margin-bottom: @gutters*2; }
figure img { float: right; width: @span5; }
figure figcaption { width: @span5; }
figure h1 { margin: 0; padding: @gutters/2; }
figure p { padding: @gutters/2; padding-bottom: 0; margin-bottom: 0; }
figure a { .button_large; float: right; }


.features             { .clearfix; margin-bottom: @gutters*2; }
.features section     { .clearfix;
    position: relative;
    .box(5, 10px, 1px, solid, @light_grey);
    text-align: justify;
    height: 230px;
    margin-bottom: @gutters;

    &:nth-child(2n+2) {
        margin-right: 0;
    }
}
.features section img { float: left; margin-right: 12px; }
.features section p   { display: inline-block; margin-top: @gutters; }
.features section h4  { margin-bottom: 0; }
.features section a   { .button_small; position: absolute; bottom: 12px; right: 12px; }


article    { .clearfix; .box(10, 0, 0px, dashed, #777); margin-bottom: @gutters*2 }
article h2 { margin-top: 0; }
/*--------------------------------------------------------------------------------------------------*/




/*====================================================================================================

    Content Pages

----------------------------------------------------------------------------------------------------*/
.outside_wrapper               { padding-top: @gutters*2; padding-bottom: @gutters*2 }
.content_holder h1:first-child { margin-top: 0; margin-bottom: @gutters*2; }


aside[role="complementary"]    {
    .clearfix;
    width: @span3;
    float: right;
}

aside[role="complementary"] h2 { margin: 12px; margin-bottom: 0; }
aside[role="complementary"] ul { margin: 0; padding: @gutters 0; }
aside[role="complementary"] li {
    &:last-child {
        border-bottom: none;
    }
}
aside[role="complementary"] li.current a { margin-left: 36px; }
aside[role="complementary"] li a {
    margin-left: @gutters;
    display: block;
    padding: 4px 0;

    &:hover {
        margin-left: 36px;
    }
}

.content_holder .documents { padding: @gutters; }
.content_holder .documents h3 { margin-top: 0; }
.content_holder .documents ul { margin: 0; padding: 0; padding-left: @gutters; }
.content_holder .documents li { margin-bottom: @gutters/2; }
.content_holder .documents a img { margin-right: @gutters/2; margin-top: -6px; }
/*--------------------------------------------------------------------------------------------------*/



/*====================================================================================================

    Forms

----------------------------------------------------------------------------------------------------*/
form div   { display: block; margin-bottom: @gutters }
form label { width: @span2; margin-right: @gutters; display: inline-block; }

form textarea.textarea-small  { height: 50px; }
form textarea,
form textarea.textarea-medium { height: 150px; }
form textarea.textarea-large  { height: 250px; }

form textarea,
form select,
form input {
    width: @span4;
    padding: 6px;
}
form select option            { padding: 12px; }
form input[type="submit"]     { .button_large; border: none; width: auto; }
form .actions                 { margin-left: (@span2+@gutters); display: block }
form .radios label            { display: inline-block; }
form .radios span             { display: block; }
form .checkbox label          { display: inline-block; }
form .checkbox span           { display: block; }
/*--------------------------------------------------------------------------------------------------*/


/*====================================================================================================

    procurement

----------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------*/