/*====================================================================================================

    Site paths

----------------------------------------------------------------------------------------------------*/
@base_url: "http://local.dev";


/*--------------------------------------------------------------------------------------------------*/

/*====================================================================================================

    THE GRID HELPER

----------------------------------------------------------------------------------------------------*/

.box(@qty: 1, @padding: 0, @border_width: 0, @border_type: solid, @border_colour: #000 ) {
  float: left;
  border: @border_width @border_type @border_colour;
  padding: @padding;
  margin-right: @gutters;
  width: (@cols * @qty) + (@gutters * @qty - @gutters) - (@border_width * 2) - (@padding * 2);
  &:last-child {
    margin-right: 0;
  }
}

/*--------------------------------------------------------------------------------------------------*/







/*====================================================================================================

    COLOURS

----------------------------------------------------------------------------------------------------*/

 @dark_orange: #f36f21;
@light_orange: #ffde00;
        @aqua: #0AA5A6;
        @blue: #002856;
  @light_blue: #3167A2;
  @light_grey: #e9e9e9;

/*--------------------------------------------------------------------------------------------------*/








/*====================================================================================================

    DEFAULT ELEMENTS AND STYLES

----------------------------------------------------------------------------------------------------*/
.round(@radius: 5px) {
  -webkit-border-radius: @radius;
          border-radius: @radius;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.round_top(@radius: 5px) {
   -webkit-border-top-left-radius: @radius;
  -webkit-border-top-right-radius: @radius;
       -moz-border-radius-topleft: @radius;
      -moz-border-radius-topright: @radius;
           border-top-left-radius: @radius;
          border-top-right-radius: @radius;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.round_bottom(@radius: 5px) {
  -webkit-border-bottom-right-radius: @radius;
   -webkit-border-bottom-left-radius: @radius;
      -moz-border-radius-bottomright: @radius;
       -moz-border-radius-bottomleft: @radius;
          border-bottom-right-radius: @radius;
           border-bottom-left-radius: @radius;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.transition(@element: all) {
  -webkit-transition: @element 0.1s 0.1s ease-in-out;
     -moz-transition: @element 0.1s 0.1s ease-in-out;
      -ms-transition: @element 0.1s 0.1s ease-in-out;
       -o-transition: @element 0.1s 0.1s ease-in-out;
          transition: @element 0.1s 0.1s ease-in-out;
}

.rotate(@deg: 2deg) {
  -webkit-transform: rotate(@deg);
     -moz-transform: rotate(@deg);
      -ms-transform: rotate(@deg);
       -o-transform: rotate(@deg);
          transform: rotate(@deg);
               zoom: 1;
}

.gradient_dark(@start: #fff) {
  background-color: @start;
  background-image: -webkit-gradient(linear, left top, left bottom, from(@start), to(darken(@start, 10%)));
  background-image: -webkit-linear-gradient(top, @start, darken(@start, 10%));
  background-image:    -moz-linear-gradient(top, @start, darken(@start, 10%));
  background-image:     -ms-linear-gradient(top, @start, darken(@start, 10%));
  background-image:      -o-linear-gradient(top, @start, darken(@start, 10%));
  background-image:         linear-gradient(to bottom, @start, darken(@start, 10%));
}

.gradient_light(@start: #fff) {
  background-color: @start;
  background-image: -webkit-gradient(linear, left top, left bottom, from(@start), to(lighten(@start, 10%)));
  background-image: -webkit-linear-gradient(top, @start, lighten(@start, 10%));
  background-image:    -moz-linear-gradient(top, @start, lighten(@start, 10%));
  background-image:     -ms-linear-gradient(top, @start, lighten(@start, 10%));
  background-image:      -o-linear-gradient(top, @start, lighten(@start, 10%));
  background-image:         linear-gradient(to bottom, @start, lighten(@start, 10%));
}

.shadow {
  -webkit-box-shadow: 2px 2px 10px rgba(234,234,234,0.7);
          box-shadow: 2px 2px 10px rgba(234,234,234,0.7);
}

.shadow_inset {
  -webkit-box-shadow: inset 1px 1px 10px rgba(234,234,234,0.7);
          box-shadow: inset 1px 1px 10px rgba(234,234,234,0.7);
}

.light_textshadow { text-shadow: 0px 1px 2px rgba(255,255,255,0.7); }
.dark_textshadow  { text-shadow: 0px 1px 2px rgba(0,0,0,0.3); }


.label(@color) {
  border: 1px solid #DDD;
  line-height: 14px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px #fff;
  -moz-box-shadow:    0 1px 1px #fff;
  box-shadow:         0 1px 1px #fff;
  font: bold 11px Sans-Serif;
  text-decoration: none;
  margin: 0 2px 2px 0;
  padding: 1px 4px 2px;
  white-space: nowrap;
  vertical-align: baseline;
  color: #fff;
  display: inline-block;
  background-color: @color;
  cursor: pointer;
  &:hover {
   border-color: #999;
   background: -webkit-linear-gradient(top, @color, lighten(@color, 15%));
   background:    -moz-linear-gradient(top, @color, lighten(@color, 15%));
   background:     -ms-linear-gradient(top, @color, lighten(@color, 15%));
   background:      -o-linear-gradient(top, @color, lighten(@color, 15%));
   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
   -moz-box-shadow:    0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
   box-shadow:         0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
  }
  &:focus {
    border-color: #999;
    background: -webkit-linear-gradient(top, @color, lighten(@color, 15%));
    background:    -moz-linear-gradient(top, @color, lighten(@color, 15%));
    background:     -ms-linear-gradient(top, @color, lighten(@color, 15%));
    background:      -o-linear-gradient(top, @color, lighten(@color, 15%));
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
    -moz-box-shadow:    0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
    box-shadow:         0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
  }
  &:active {
    border: 1px solid #AAA;
    border-bottom-color: #CCC;
    border-top-color: #999;
    -webkit-box-shadow: inset 0 1px 2px #aaa;
    -moz-box-shadow:    inset 0 1px 2px #aaa;
    box-shadow:         inset 0 1px 2px #aaa;
    background: -webkit-linear-gradient(top, darken(@color, 15%), gainsboro);
    background:    -moz-linear-gradient(top, darken(@color, 15%), gainsboro);
    background:     -ms-linear-gradient(top, darken(@color, 15%), gainsboro);
    background:      -o-linear-gradient(top, darken(@color, 15%), gainsboro);
  }
}

.button {
  background: @dark_orange url(alert-overlay.png) repeat-x;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff!important;
  text-decoration: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
          box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.15);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);

  &:hover {
    background-color: darken(@dark_orange, 10%);
    text-decoration: none;
    color: #fff;
  }

  &:active {
    -webkit-box-shadow: 0 0px 1px rgba(0,0,0,0.5);
            box-shadow: 0 0px 1px rgba(0,0,0,0.5);
  }
}

.button_large {
  .type-large;
  .button;
  padding: 8px 14px 9px;
}

.button_small {
  .type-small;
  .button;
  padding: 4px 7px;
}

.button-current {
  border: 1px solid #DDD;
  border-radius: 3px;
  text-shadow: 0 1px 1px white;
  -webkit-box-shadow: 0 1px 1px #fff;
  -moz-box-shadow:    0 1px 1px #fff;
  box-shadow:         0 1px 1px #fff;
  font: bold 11px Sans-Serif;
  padding: 6px 10px;
  white-space: nowrap;
  vertical-align: middle;
  color: #666;
  background: transparent;
  cursor: pointer;
  border: 1px solid #AAA;
  border-bottom-color: #CCC;
  border-top-color: #999;
  -webkit-box-shadow: inset 0 1px 2px #aaa;
  -moz-box-shadow:    inset 0 1px 2px #aaa;
  box-shadow:         inset 0 1px 2px #aaa;
  background: -webkit-linear-gradient(top, #E6E6E6, gainsboro);
  background:    -moz-linear-gradient(top, #E6E6E6, gainsboro);
  background:     -ms-linear-gradient(top, #E6E6E6, gainsboro);
  background:      -o-linear-gradient(top, #E6E6E6, gainsboro);
}

