/*====================================================================================================

    Base Styles and structure

----------------------------------------------------------------------------------------------------*/
html             { background: #f0f0f0 url(../_img/backgrounds/bg.jpg); }
body             { background: #f0f0f0 url(../_img/backgrounds/bg.jpg); }
#membership      { background: @blue; background-image: none; }
.chromeframe     { background: #fff; }

.error           { color: #b94a48; background-color: #f2dede; border-color: #eed3d7; .round; .shadow; }
.success         { color: #ffffff; background-color: #2CAF73; border-color: #eed3d7; .round; .shadow; }
/*--------------------------------------------------------------------------------------------------*/





/*====================================================================================================

    Header items

----------------------------------------------------------------------------------------------------*/
header[role="banner"] .logo span,
header[role="banner"] .logo:hover span { .transition; }



.navigation {
    background: @light_orange;
    border-bottom: 1px solid darken(@light_orange, 3%);
}
nav[role="navigation"]      { background: @light_orange; }
nav[role="navigation"] li.current a { .transition; .dark_textshadow; color: #fff; text-decoration: none; }
nav[role="navigation"] li a {
    .transition;
    .light_textshadow;
    color: #666;
    font-weight: bold;

    &:hover {
        .transition;
        .dark_textshadow;
        color: #fff;
        text-decoration: none;
    }
}



#membership .navigation                 { background: @dark_orange; border-bottom: 1px solid darken(@dark_orange, 3%); }
#membership nav[role="navigation"]      { background: @dark_orange; }
#membership nav[role="navigation"] li.current a { .transition; .light_textshadow; color: @blue; text-decoration: none; }
#membership nav[role="navigation"] li a {
    .transition;
    .dark_textshadow;

    color: #fff;
    font-weight: bold;

    &:hover {
        .transition;
        .light_textshadow;
        color: @blue;
        text-decoration: none;
    }
}
#membership header[role="banner"] h2    { color: #fff; }
/*--------------------------------------------------------------------------------------------------*/




/*====================================================================================================

    Footer items

----------------------------------------------------------------------------------------------------*/
footer   { background: #fff; border-top: 1px solid #ddd; }
footer p { background: #fff; text-align: center; }
/*--------------------------------------------------------------------------------------------------*/




/*====================================================================================================

    Homepage

----------------------------------------------------------------------------------------------------*/
figure { background: #fff; .shadow; .round; }
figure img { .round; }


.features section     {
    .shadow;
    .round;
    background: #fff;
    text-align: justify;
}
/*--------------------------------------------------------------------------------------------------*/




/*====================================================================================================

    Content Pages

----------------------------------------------------------------------------------------------------*/
.outside_wrapper               { background: #fff; border-top: 1px solid @light_grey; }
.content                       { background: #fff; }


aside[role="complementary"]    {
    .round;
    background: #fff;
    -webkit-box-shadow: -4px 0px 10px rgba(234,234,234,0.7);
            box-shadow: -4px 0px 10px rgba(234,234,234,0.7);
}

.lt-ie9 aside[role="complementary"] {
       border-top: 2px solid lighten(@light_grey, 6%);
    border-bottom: 2px solid lighten(@light_grey, 5%);
      border-left: 2px solid lighten(@light_grey, 6%);
     border-right: none;
}
aside[role="complementary"] h2 { color: darken(@light_grey, 4%); border-bottom: 2px solid lighten(@light_grey, 6%); }
aside[role="complementary"] ul { list-style: none; }
aside[role="complementary"] li.current a { .transition; text-decoration: none; color: @aqua; }
aside[role="complementary"] li a {
    .transition;

    &:hover {
        .transition;
        text-decoration: none;
    }
}

.content_holder .documents    { background: #fefefe; .shadow_inset; .round; }
.content_holder .documents li { list-style: none; }
/*--------------------------------------------------------------------------------------------------*/



/*====================================================================================================

    Forms

----------------------------------------------------------------------------------------------------*/
form label { text-align: right; font-weight: bold; }
form textarea,
form select,
form input {
    border: 1px solid @light_grey;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    color: #777;
}

form textarea:focus,
form select:focus,
form input:focus              { outline-color: @dark_orange; }
/*--------------------------------------------------------------------------------------------------*/