/* --------------------------------------------------------------

   typography.css
   * Sets up some sensible default typography.

-------------------------------------------------------------- */

@font-color: #333;
@headers-color: @blue;
@a-color: @dark_orange;
@a-hover-color: @aqua;
@quiet-color: @font-color + #444;
@loud-color: #000;
@default_fonts: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;


/* Default font settings.

The font-size percentage is of 16px. (0.75 * 16px = 12px) */
html { font-size:100.01%; }

@media only screen and (min-width: 1280px) { body {font-size: 105%; } }
@media only screen and (min-width: 992px) and (max-width: 1279px) { body {font-size: 100%; } }
@media only screen and (min-width: 768px) and (max-width: 991px) { body { font-size: 95%; } }
@media only screen and (min-width: 480px) and (max-width: 767px) { body { font-size: 90%; } }
@media only screen and (min-width: 320px) and (max-width: 479px) { body { font-size: 85%; } }

body {
  color: @font-color;
  background: #fff;
  font-family: @default_fonts;
}


/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-weight: normal; color: @headers-color; }

h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h2 { font-size: 2em; margin-bottom: 0.75em; }
h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h6 { font-size: 1em; font-weight: bold; }

h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img {
  margin: 0;
}


/* Text elements
-------------------------------------------------------------- */

p           { margin: 0 0 1.5em; }


/*
  These can be used to pull an image at the start of a paragraph, so
  that the text flows around it (usage: <p><img class="left">Text</p>)
*/

.type-left        { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
.type-right       { float: right; margin: 1.5em 0 1.5em 1.5em; }


a:link    { .transition; color:@a-color; text-decoration: none;}
a:visited { .transition; color:@a-color; text-decoration: none;}
a:hover   { .transition; color:@a-hover-color; text-decoration: none; }
a:active  { .transition; color:@a-color; text-decoration: none;}
a:focus   { .transition; color: @a-hover-color; text-decoration: none; }

blockquote  { margin: 1.5em; color: @quiet-color; font-style: italic; }
strong,dfn  { font-weight: bold; }
em,dfn      { font-style: italic; }
dfn         { font-weight: bold; }
sup, sub    { line-height: 0; }

abbr,
acronym     { border-bottom: 1px dotted @quiet-color; }
address     { margin: 0 0 1.5em; font-style: italic; }
del         { color:@quiet-color; }

pre         { margin: 1.5em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }


/* Lists
-------------------------------------------------------------- */

li ul,
li ol       { margin: 0; }
ul, ol      { margin: 0 1.5em 1.5em 0; padding-left: 3.333em; }

ul          { list-style-type: disc; }
ol          { list-style-type: decimal; }

dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}


/* Tables
-------------------------------------------------------------- */

table       { margin-bottom: 1.4em; width:100%; }
th          { font-weight: bold; }
thead th    { background: #c3d9ff; }
th,td,caption { padding: 4px 10px 4px 5px; }
tbody tr:nth-child(even) td, tbody tr.even td {background:#e5ecf9;}
tfoot       { font-style: italic; }
caption     { background: #eee; }


/* Misc classes
-------------------------------------------------------------- */

.type-small      { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
.type-large      { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
.type-hide       { display: none; }

.type-quiet      { color: @quiet-color; }
.type-loud       { color: @loud-color; }
.type-highlight  { background:#ff0; }
.type-added      { background:#060; color: #fff; }
.type-removed    { background:#900; color: #fff; }

.type-first      { margin-left:0; padding-left:0; }
.type-last       { margin-right:0; padding-right:0; }
.type-top        { margin-top:0; padding-top:0; }
.type-bottom     { margin-bottom:0; padding-bottom:0; }