<div class="well" style="padding: 8px 0;">
  <ul class="nav nav-list">
    <li class="nav-header">Settings</li>
    <li><a href="{{ page_settings.admin_url }}settings"><i class="icon-home"></i> View all</a></li>
  </ul>
</div>
